h2 {
  color: silver;
  font-family: Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  font-weight: inherit;
  font-size: 200%;
}
body {
  font-family: Arial,Helvetica,sans-serif;
  background-color: #ffcccc;
}
table {
  background-color: #660000;
}
a:link {
  color: silver;
}
a:visited {
  color: #666666;
}
.provfacts {
  color: silver;
  font-family: Arial Black;
  text-align: left;
}
img {
  border-style: groove;
  border-color: #ffff66;
}
.flagimg {
  border-style: solid;
  border-color: #ffcccc;
}
